<section class="section-curses ">
  <img class="section-curses__bg" src="./img/bg/men.png" alt="" />
  <div class="section-curses__wrapper container scale-up-top">
    <div class="section-curses__text">
      <img class="section-curses__js" src="./img/curses/js.png" alt="js" />
      <div class="section-curses__title">
        JavaScript. Think. Solve. Develop.
      </div>

      <div class="section-curses__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
        imperdiet sed id elementum. Quam vel aliquam sit vulputate.
      </div>
      <div class="section-curses__btn">
        <a class="section-curses__link" href="/">Let's check !</a>
      </div>
    </div>
    <div class="section-curses__js-img"></div>

    <!-- 2 part -->

    <div class="section-welcome__ob-main">
      <div class="section-welcome__point-title">
        Who is a JavaScript developer?
      </div>
      <!-- 1 -->
      <div class="section-welcome__point slide-fwd-bottom ">
        <div class="section-welocome__figires">01</div>

        <div class="section-welcome__desc-block">
          <div class="section-welocome__figires-title">About developer</div>

          <div class="section-selcome__figires-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
            imperdiet sed id elementum. Quam vel aliquam sit vulputate.
          </div>
        </div>
      </div>

      <!-- 2 -->

      <div class="section-welcome__point">
        <div class="section-welocome__figires">02</div>

        <div class="section-welcome__desc-block">
          <div class="section-welocome__figires-title">Advantages</div>

          <div class="section-selcome__figires-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
            imperdiet sed id elementum. Quam vel aliquam sit vulputate.
          </div>
        </div>
      </div>
      <!-- 3 -->

      <div class="section-welcome__point">
        <div class="section-welocome__figires">03</div>

        <div class="section-welcome__desc-block">
          <div class="section-welocome__figires-title">Solery</div>

          <div class="section-selcome__figires-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus
            imperdiet sed id elementum. Quam vel aliquam sit vulputate.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
